.schedule {
  margin: 20px;
  width: 60%;
}

.events {
  max-width: 1200px;
  margin: 10px auto 0px auto;
  display: flex;
}

/* Small-medium width tablets: iPad mini */

@media only screen and (max-width: 1280px) {
  
}
