.all {
  position: relative;
}

.schedule {
  margin: 20px;
  width: 60%;
  animation: fadeIn 0.5s ease-in-out;
}

.events {
  max-width: 1200px;
  margin: 0 auto;
  display: flex !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Phones */

@media only screen and (max-width: 767px) {
  .schedule {
    width: calc(100% - 40px) !important;
  }

  .events {
    max-width: 100% !important;
  }
}
