.all {
  top: 15px;
  position: relative;
}

.schedule {
  margin: 20px;
  width: 60%;
}

.events {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* Small Phones */

@media only screen and (max-width: 1024px) {
  .schedule {
    width: 100% !important;
  }
}
