.countdown {
  margin-top: 75px;
  padding: 20px 0px;
  text-align: center !important;
}

.num {
  line-height: 27px;
  display: inline-grid;
  text-align: center;
  font-family: 'Poppins';
  font-size: 36px;
  z-index: 10;
  position: relative;
  overflow:hidden;
  letter-spacing: 3px;
  max-width: 55px;
  min-width: 55px;
  text-overflow: ellipsis;
  color: #374146;
  user-select: none;
}

.hr {
  left: -82px;
  top: 45px;
}

.min {
  left: -105px;
  top: -8px;
}

.sec {
  left: -86px;
  top: 10px;
}

.countdown h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  font-family: 'Poppins';
}

.rightgear, .leftgear, .middlegear {
  vertical-align: middle;
  position: relative;
  user-select: none;
}

.countdown .middlegear {
  height: 280px;
  top: -20px;
  margin: auto -60px;
  animation: spinbackward 1s infinite;
}

.countdown .leftgear {
  margin: auto -70px;
  top: 35px;
  height: 250px;
  animation: spinforward 1s infinite;
}

.countdown .rightgear {
  margin: auto -65px;
  height: 250px;
  animation: spinforward 1s infinite;
}

@keyframes spinforward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes spinbackward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

/* Horizontal Phones */

@media only screen and (max-width: 767px) {
  .countdown .middlegear {
    left: 30px;
    height: 224px;
    top: -15px;
    margin: auto -50px;
  }

  .countdown .leftgear {
    left: 30px;
    top: 35px;
    height: 200px;
  }

  .countdown .rightgear {
    left: 30px;
    height: 200px;
  }

  .num {
    font-size: 30px;
  }

  .hr {
    left: -27px;
    top: 45px;
  }

  .min {
    left: -57px;
    top: -5px;
  }

  .sec {
    left: -32px;
    top: 10px;
  }
}

/* Small Phones */

@media only screen and (max-width: 480px) {
  .countdown h2 {
    font-size: 28px;
  }

  .countdown .middlegear {
    height: 151px;
    top: -7px;
    margin: auto -30px;
  }

  .countdown .leftgear {
    top: 30px;
    height: 135px;
  }

  .countdown .rightgear {
    height: 135px;
  }

  .num {
    font-size: 21px;
  }

  .hr {
    left: 5px;
    top: 40px;
  }

  .min {
    left: -41px;
    top: 3px;
  }

  .sec {
    left: 2px;
    top: 10px;
  }
}
