.countdown {
  margin-top: 75px;
  padding: 20px 0px;
  text-align: center !important;
}

.num {
  line-height: 27px;
  display: inline-grid;
  text-align: center;
  font-family: 'Poppins';
  font-size: 36px;
  z-index: 10;
  position: relative;
  overflow:hidden;
  letter-spacing: 3px;
  max-width: 55px;
  min-width: 55px;
  text-overflow: ellipsis;
  color: #374146;
  user-select: none;
}

.hr {
  left: -82px;
  top: 45px;
}

.min {
  left: -105px;
  top: -8px;
}

.sec {
  left: -86px;
  top: 10px;
}

.countdown h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  font-family: 'Poppins';
}

.rightgear, .leftgear, .middlegear {
  vertical-align: middle;
  position: relative;
  user-select: none;
}

.countdown .middlegear {
  height: 280px;
  top: -20px;
  margin: auto -60px;
  animation: spinbackward 1s infinite;
}

.countdown .leftgear {
  margin: auto -70px;
  top: 35px;
  height: 250px;
  animation: spinforward 1s infinite;
}

.countdown .rightgear {
  margin: auto -65px;
  height: 250px;
  animation: spinforward 1s infinite;
}

@keyframes spinforward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes spinbackward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
