.selector {
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 10;
}

.selector button {
  font-family: 'Poppins';
  font-size: 17px;
  padding: 5px 5px;
  background: rgba(0, 181, 235, 0.2);
  border: 2px solid rgba(0, 151, 196, 0.2);
  outline: none;
  box-shadow: none;
  width: calc(50% - 20px);
}

.selectEvents {
  border-radius: 25px 0 0 25px;
  border-right: 1px solid rgba(0, 151, 196, 0.2) !important;
  margin-left: 20px;
}

.selectSaved {
  border-radius: 0 25px 25px 0;
  border-left: 1px solid rgba(0, 151, 196, 0.2) !important;
  margin-right: 20px;
}

.selector .selected {
  background: rgba(0, 181, 235, 0.9);
  transition: background 0.2s ease-out;
}

.selector .notSelected:hover {
  background: rgba(0, 181, 235, 0.3);
}
