/* GENERAL */

.event {
  background-color: #fff;
  padding: 15px 10px 15px 20px;
  margin: 15px 0px 0px 0px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #aaaaaa;
  min-height: 70px;
  overflow: hidden;
  transition: opacity 0.7s ease-in-out;
  animation: fadeIn 0.25s ease-in-out;
}

.hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  transition: opacity 0.35s ease-out;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.event:hover {
  transition: all 0.1s ease-in-out;
}

.event .toprow {
  width: 100%;
  overflow: auto;
  height: 100%;
  margin: auto;
}

.event .title {
  float: left;
  max-width: 70%;
  text-align: left;
  font-size: 23px;
}

.event .time {
  font-size: 16px;
  max-width: 30%;
  float: right;
  text-align: right;
}

.event .bottomrow {
  font-size: 17px;
  padding: 0;
  width: 100%;
  transition: 1s all ease-in-out;
  background-color: white;
  opacity: 1;
  max-height: 500px;
  padding: 10px 0;
  overflow: hidden;
  transition: max-height 1ms ease-in-out;
}

.event .description {
  max-width: 70%;
  text-align: justify;
  position: relative;
  display: inline;
  float: left;
}

.event .location {
  float: right;
  max-width: 25%;
  text-align: right;
  font-weight: 600;
}

.content {
  width: calc(100% - 60px);
  float: left;
}

.buttons {
  float: right;
  max-width: 100%;
  min-height: 100%;
  margin-top: 15px;
}

button:hover svg {
  fill: #545E63;
  transition: 0.1s all ease-in-out;
}

.buttons button {
  float: right;
  background: none;
  border: none;
  color: #ddd;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

button:focus, button:active {
   outline: none !important;
   box-shadow: none;
}

/*
.event:hover .bottomrow {
  opacity: 1;
  max-height: 500px;
  padding: 10px 0;
  transition: all 0.5s ease-in-out, padding 1ms;
}
*/

.blue:hover {
  box-shadow: 0px 0px 4px 1px #16affb;
}

.yellow:hover {
  box-shadow: 0px 0px 4px 1px #fdf15f;
}

.teal:hover {
  box-shadow: 0px 0px 4px 1px #15cfb0;
}

.red:hover {
  box-shadow: 0px 0px 4px 1px #e03e59;
}

.green:hover {
  box-shadow: 0px 0px 4px 1px #83c400;
}

.purple:hover {
  box-shadow: 0px 0px 4px 1px #bd63cf;
}

/* PERSONAL EVENT */
.personal .event {
  margin: 15px auto;
  width: 90%;
  animation: fadeIn 0.1s ease-in-out;
}

/*
.personal .event:hover .bottomrow {
  padding: 0px;
  opacity: 0;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Small-medium width tablets: iPad mini */

@media only screen and (max-width: 1280px) {
  .event .title {
    font-size: 20px;
    max-width: 60%;
  }

  .event .time {
    max-width: 40%;
  }
}

/* Phones */

@media only screen and (max-width: 767px) {
  .event {
    padding-right: 20px;
  }

  .event .title {
    float: none;
    min-width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
  }

  .event .time {
    font-size: 19px;
    max-width: 100%;
    float: none;
    text-align: justify;
  }

  .event .bottomrow {
    padding: 5px 0;
  }

  .event .description {
    font-size: 16px;
    max-width: 100%;
    position: relative;
    display: block;
    float: none;
  }

  .event .location {
    font-size: 16px;
    float: none;
    max-width: 100%;
    text-align: left;
    position: relative;
    margin-top: 5px;
  }

  .content {
    width: 100%;
    float: none;
    display: inline;
  }

  .buttons {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    margin-top: 0px;
  }

  .events button {
    margin: 0 auto;
  }
}
