/* GENERAL */

.event {
  background-color: #fff;
  padding: 15px 20px;
  margin: 15px 0px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #aaaaaa;
  min-height: 70px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.event .toprow {
  width: 100%;
  overflow: auto;
  height: 100%;
  margin: auto;
}

.event .title {
  float: left;
  max-width: 70%;
  text-align: left;
  font-size: 23px;
}

.event .time {
  font-size: 16px;
  max-width: 30%;
  float: right;
  text-align: right;
}

.event .bottomrow {
  font-size: 17px;
  padding: 10px 0;
  width: 100%;
  transition: 1s all ease-in-out;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.event .description {
  max-width: 400px;
  text-align: left;
  position: relative;
  display: inline;
  float: left;
}

.event .location {
  float: right;
  max-width: 30%;
  text-align: right;
  font-weight: 600;
}

.content {
  width: calc(100% - 60px);
  float: left;
}

.buttons {
  float: right;
  max-width: 30px;
  min-height: 100%;
}

button:hover svg {
  fill: #545E63;
  transition: 0.1s all ease-in-out;
}

.buttons button {
  float: right;
  background: none;
  border: none;
  color: #ddd;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

button:focus, button:active {
   outline: none !important;
   box-shadow: none;
}

.event:hover .bottomrow {
  opacity: 1;
  max-height: 500px;
  transition: all 0.5s ease-in-out;
}

.blue:hover {
  box-shadow: 0px 0px 4px 1px #16affb;
}

.yellow:hover {
  box-shadow: 0px 0px 4px 1px #fdf15f;
}

.teal:hover {
  box-shadow: 0px 0px 4px 1px #15cfb0;
}

.red:hover {
  box-shadow: 0px 0px 4px 1px #e03e59;
}

.green:hover {
  box-shadow: 0px 0px 4px 1px #83c400;
}

.purple:hover {
  box-shadow: 0px 0px 4px 1px #bd63cf;
}

/* NORMAL EVENT */



/* PERSONAL EVENT */
.personal .event {
  margin: 15px auto;
  width: 90%;
}

.personal .event:hover .bottomrow {
  opacity: 0;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}
