.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  background-color: #fff;
  padding: 1em 1.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: block;
  z-index: 999;
  max-height: 60px;
}

.navbar .links {
  text-align: right;
}

.logo {
  float: left;
  height: 1.7em;
}

@media only screen and (max-width: 480px) {
  .links {
    font-size: 14px;
  }
}
