.main {
  text-align: center;
  background: linear-gradient(to top, #F1FDFF, #C5F4FF);
  padding: 20px;
  color: #2C3236;
  min-height: 100%;
}

.head h1 {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.head h2 {
  font-weight: 400;
  font-size: 30px;
}

.App-intro {
  font-size: large;
}
