@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Poppins');

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  font-family: 'Hind Siliguri', sans-serif;
}

html {
  background: linear-gradient(to bottom, #F1FDFF, #C5F4FF);
}
